.modal {
	width: 100%;
	height: 100vh;
	position: fixed;
	background: rgba(0,0,0,0.2);
	top: 0;
	left: 0;
	display: flex;
	animation: modal .1s .1s forwards;
	
	visibility: hidden;
	opacity: 0;
	z-index: 10;
}
.contenido h1{
	position: absolute;
	top: 30px;
	left: 100x;
	width: 100%;
	color: white;
	background: #4E94AB;
	text-align: center;
	font-size: 35px;
	
}
.contenido img{
	position: absolute;
	top: 100px;
	left: 82px;
	width: 88%;
	height: 82%;
	
}
.contenido {
	margin: auto;
	position: absolute;
	top: 31px;
	left: 29px;
	width: 95%;
	height: 90%;
	
	background: white;
	border-radius: 10px;
	
	
}

#cerrar{
	display: none;
}
#cerrar + label {
	position: fixed;
	top: 40px;
	left: 40px;
	color: #fff;
	font-size: 25px;
	z-index: 60;
	background: darkred;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	right: 75px;
	cursor: pointer;
	text-align: center;
	animation: modal 2s 3s forwards;
	
	visibility: hidden;
	opacity: 0;
}
#cerrar:checked + label, #cerrar:checked ~ .modal{
	display: none;
}

@keyframes modal{
	100%{
	visibility: visible;
	opacity: 1;
	}
}























