.banner{
	position: relative;
	top: -155px;
	width: 100%;
	height: 673px;
	background-size: 100% 100%;
	animation: banner 20s infinite;
	animation-direction: alternate;
	
}

@keyframes banner{
	0%, 30%{
		background-image: url(slider-cultura-3.jpg);
		opacity: 1;
	}
	31%, 34%{
		opacity: 0.1;
	}
	35%, 65%{
		background-image: url(slider-cultura-2.jpg);
		opacity: 1;
	
	}
	66%, 69%{
		opacity: 0.1;
		
	}
	70%, 100%{
		opacity: 1;
		background-image: url(slider-cultura-1.jpg);
	}
}













